/*  Bron kleurenpalet:
        https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8
*/

:root {
    --midnight-blue: #03045eff;
    --dark-cornflower-blue: #023e8aff;
    --star-command-blue: #0077b6ff;
    --blue-green: #0096c7ff;
    --pacific-blue: #00b4d8ff;
    --sky-blue-crayola: #48cae4ff;
    --middle-blue: #90e0efff;
    --blizzard-blue: #ade8f4ff;
    --light-cyan: #caf0f8ff;
    --tekstkleur: black;
    --wit: white;
    --whitesmoke: whitesmoke;
}

* {
    /* Hier eigen font toevoegen zodra die is gemaakt */
    font-family: sans-serif;
}

/* Syntaxes */

body {
    margin: 0;
    padding: 0;
    max-width: 1024px;
    margin: auto;
    background-color: var(--whitesmoke);
}

main {
    background-color: var(--wit);
    padding: 32px;
}

header {
    text-align: center;
    background: var(--star-command-blue);
    color: white;
    font-size: 30px;
    padding: 10px;
    display: block;
    display: grid;
    grid-template-areas: 
    "img options";
}

nav {
    grid-area: options;
    padding-top: 45px;
    font-weight: bold;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: var(--tekstkleur);
    border: 1px transparent;
    padding: 2px;
}

a:hover {
    background-color: rgb(24, 156, 228);
    border: 1px solid;
    padding: 1px;
}

footer {
    padding: 10px;
    text-align: center;
    background: var(--blue-green);
    color: white;
    font-size: 20px;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

hr {
    background-color: black;
    height: 1px;
    margin: 20px
}

textarea {
    resize: none;
}

/* Classes (.) en Ids (#)  */

.container {
    border: 1px solid;
    margin-top: 25px;
    margin-bottom: 25px;
}

.logo {
    grid-area: img;
    height: 128px;
    width: 128px;
}

#inleiding {
    text-align: justify;
    font-size: 18px;
}

#inlogpagina {
    text-align: center;
    font-size: 20px;
}

#inlogverzenden {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inlogverzenden:hover {
    background-color: rgb(223, 215, 215);
    font-weight: bold;
}

#verwijzingregistratie {
    text-decoration: underline;
    color: blue;
}

#verwijzingregistratie:hover {
    background-color: var(--wit);
    border: none;
    font-weight: bold;
}

.postcontainer {
    width: 896px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid;
    background-color: var(--whitesmoke);

}

.inputstyle {
    width: 50%;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid;
    background-color: var(--whitesmoke);
}